// font-size
$font-size-title = 32px
$font-size-large = 28px
$font-size-large-s = 26px
$font-size-middle = 24px
$font-size-middle-s = 22px
$font-size-small = 20px
$font-size-small-s = 18px

// color
// text color
$color-primary = #454f63
$color-desc  = #78849e
$color-desc-l  = #b5bbc8
$color-normal = #9b9fa7
$color-blue = #3a8dea

$border-color = #e3e3e3

// btn color
$btn-color-blue = #3a8dea
$btn-border-blue = #3a8dea
